
.checkbox-group {
    margin-left:20px;
}

body, td, pre {
    font-family:"Brother Deluxe 1350 Font", "bptypewritedamaged";
}

#demo {
    width:800px;
    margin:10px auto;
}

div.has-error .select2-selection {
    border-color: rgb(185, 74, 72) !important;
}